<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="display-1">
        {{application_title}}
        <small class="text-muted">{{application_subtitle}}</small>
      </h1>
    </div>
    <div class="col-xs-12">
      <app-game-control
        (incrementTimerEventEmitter)="onIncrementTimerEvent($event)" 
        (gameStartStopStateChangeEventEmitter)="onGameStartStopStateChangeEvent($event)" 
      ></app-game-control>
    </div>

    <div class="col-xs-12">
      <hr style="color:black;" />
      <h2>Sending data to a parent component</h2>
      <p>via https://angular.io/guide/inputs-outputs#sending-data-to-a-parent-component</p>
      <app-item-output (newItemEvent)="addItem($event)"></app-item-output>
      <ul>
        <li *ngFor="let item of items">{{item}}</li>
      </ul>  
    </div>
  </div>
</div>